<div class="container">
  <%= devise_error_messages! %>
  <div class="row justify-content-md-center">
    <div class="col-md-8 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="text-center card-title">Повторно надіcлати інструкцію з підтвердження</h4>
        </div>
        <div class="card-body">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

            <div class="form-group">
              <%= f.label 'Електронна_адреса' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Повторно надішліть інструкції з підтвердження", class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <%= link_to "Увійти", new_session_path(resource_name) %> в систему.
          <br>
          <%= link_to "Зареєструвати", new_registration_path(resource_name) %> новий акаунт
          <br>
          <%= link_to "Забули пароль?", new_password_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>
</div>
