<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <%= link_to 'ЛІВОБЕРЕЖНИЙ', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Головна сторінка', home_page_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Головне меню', admins_dashboard_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Оголошення', articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Послуги', new_admins_service_path, class: "nav-link" %>
        </li>

      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <%= link_to 'Оновити параметри Адміністратора', edit_admin_registration_path, class: "btn btn-outline-light" %>
          <%= link_to 'Вийти', destroy_admin_session_path, class: "btn btn-outline-light", :method => :delete %>
        </li>
      </ul> 
    </div>
  </div>
</nav>