<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-style">
  <div class="container">
    <%= link_to 'Comoany', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to 'Home', home_page_index_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to 'Articles', articles_path, class: "nav-link" %>
        </li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li class="active">
          <% if user_signed_in? %>
            <%= link_to user_profile, edit_user_registration_path, class: "btn btn-outline-light" %>
            <%= link_to 'Exit', destroy_user_session_path, class: "btn btn-outline-light", :method => :delete %>
          <% end %>
        </li>
      </ul> 
    </div>
  </div>
</nav>
<br>