<div class="col-md-4">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <%= article.title %>
    </div>
    <%= image_tag article.image_url.to_s, class: "card-img-top", style: "height: 225px; width: 100%; display: block;" %>
    <div class="card-body d-flex flex-column">
      <h6 class="card-title">Создано: <%= article.created_at %></h6>
      <p class="card-text"><%= article.text %></p>
      <div class="btn-group">
        <%= link_to 'View details', article_path(article), class: "btn btn-outline-primary" %>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_article_path(article), 
              class: "btn btn-block btn-outline-success" %>
          <%= link_to 'Destroy', article_path(article), 
              class: "btn btn-outline-danger", method: :delete,
              data: { confirm: 'Are you sure?' } %>
        <% end %>
        </div>
    </div>
  </div>
</div>