<div class="card text-center">
  <div class="card-header">
    <%= article.title %>
  </div>
  <div class="card-body">
    <p class="card-text lead">
    <%= image_tag article.image_url(:thumb).to_s, class: "img-thumbnail float-right", style: "margin: 3px;" %>
    <%= article.text %>
    </p>
    <%= link_to 'Переглянути', article_path(article), class: "btn btn-primary" %>
    <% if admin_signed_in? %>
      <%= link_to 'Редагувати', edit_article_path(article), 
          class: "btn btn-success" %>
      <%= link_to 'Видалити', article_path(article), 
          class: "btn btn-danger", method: :delete,
          data: { confirm: 'Ви впевнені?' } %>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <%= article.created_at.strftime("%d:%m:%Y") %>
  </div>
</div>
<br>