<h4 class="text-center"> Оновити дані Адміністратора </h4>
<div class="container">
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Зареєстрований</h6>
            <span class="text-muted">
              <%= current_admin.created_at.strftime("%d:%m:%Y") %>
            </span>

          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Останнє оновлення</h6>
            <span class="text-muted">
              <%= current_admin.updated_at.strftime("%d:%m:%Y") %>
            </span>
          </div>
        </li>
      </ul>

      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0"><strong>Користувачів</strong></h6>
            <span class="text-success">
              Активованих <%= @users_active_count %>
            </span>
            <br>
            <span class="text-danger ">
              Деактивних <%= @users_deactive_count %>
            </span>

          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">
              Новин <%= Article.count %>
            </h6>       
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">
              Послуг <%= Service.count %>
            </h6>       
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">
              Замовлень <%= Order.count %>
            </h6>       
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <div class="form-group">
          <%= f.label 'Електронна адреса' %>
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Пароль' %> <i>(залиште поле порожнім, якщо ви його не змінили)</i>
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label 'Підтвердження паролю' %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label 'Поточний пароль' %> <i>(нам потрібен ваш поточний пароль, щоб підтвердити зміни)</i>
          <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="form-group">
        <%= f.submit "Оновити параметри адміністратора", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>