<%= form_with(model: @service, url: adress_url, local: true) do |form| %>
  <%= render 'layouts/error_messages', object: @service %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group ">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :price %>
        <%= form.text_field :price, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="form-group">      
      <%= form.submit button_text, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>