<h3 class="text-center">Основна статистична інформація</h3>
<table class="table text-center table-bordered">
  <thead class="thead-dark">
    <tr>
      <th colspan="3">КОРИСТУВАЧІВ</th>
      <th colspan="3">КІЛЬКІСТЬ</th>
    </tr>
    <tr>
      <th scope="col">Всього</th>
      <th scope="col">Активованих</th>
      <th scope="col" >Деактивних</th>
      <th scope="col">Оголошень</th>
      <th scope="col">Послуг і розваг</th>
      <th scope="col">Замолень</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-primary"><%= @users_count %></td>
      <td class="table-success"><%= @users_active_count %></td>
      <td class="table-danger"><%= @users_deactive_count %></td>
      <td><%= @articles_count %></td>
      <td><%= @services_count %></td>
      <td><%= @orders_count %></td>
    </tr>
  </tbody>
</table>

<h3 class="text-center">Усі користувачі</h3>
<table class="table table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Користувач активований?</th>
      <th scope="col">Email</th>
      <th scope="col">Прізвище</th>
      <th scope="col">Ім'я</th>
      <th scope="col">Дата реєстрації</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <% if !user.confirmed_at? %>
        <tr class="table-danger">
      <% else %>
        <tr>
      <% end %>
        <td >
        <% if user.confirmed_at %>
          Пошта підтверджена
        <% else %>
          <strong>Пошта не підтверджена</strong>
        <% end %>  
        </td>
        <td>
          <%= user.email %><br>    
          <%= link_to "Видалити користувача", admins_user_path(user), method: :delete, data: { confirm: "Ви впевнені?" }, 
            class: "btn-outline-danger btn-sm" %>
        </td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.created_at.strftime("%d:%m:%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>



<h3 class="text-center">Усі послуги</h3>
<p>
<%= link_to 'Cтворити нову послугу', new_admins_service_path, class: "btn btn-primary btn-block" %>
</p>
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Назва</th>
      <th scope="col">Опис</th>
      <th scope="col">Ціна</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td class="text-center">
          <strong><%= service.name %></strong>
        </td>
        <td><em><%= service.description %></em></td>
        <td><%= service.price %></td>
        <td class="text-center" >
          <%= link_to "Видалити", admins_service_path(service), method: :delete, data: { confirm: "Ви впевнені?" }, 
            class: "btn-outline-danger btn-sm" %>
          <%= link_to 'Редагувати', edit_admins_service_path(service),
            class: "btn-outline-info btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @services, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>