<div class="container">
  <div class="rov">
    <h1>All users</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Active?</th>
          <th scope="col">First_name</th>
          <th scope="col">Last_name</th>
          <th scope="col">Email</th>
          <th scope="col">Created at</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <% if !user.confirmed_at? %><tr class="table-danger"><% else %><tr><% end %>
            <td><%= user.confirmed_at? %></td>
            <td><%= user.email %>     </td>
            <td><%= user.first_name %></td>
            <td><%= user.last_name %></td>
            <td><%= user.created_at %></td>
            <td><%= link_to "Destroy", admins_user_path(user), method: :delete, data: { confirm: "You sure?" } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>


<div class="container">
  <div class="rov">
    <h3 class="text-center">All services</h1>
    <p><%= link_to 'Add Services', new_admins_service_path, class: "btn btn-primary" %></p>
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.name %></td>
            <td><%= service.description %>     </td>
            <td><%= service.price %></td>
            <td>
              <%= link_to "Destroy", admins_service_path(service), method: :delete, data: { confirm: "You sure?" } %>
              <%= link_to 'Edit', edit_admins_service_path(service) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @services, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>