<!DOCTYPE html>
<html>
  <head>
    <title>Livoberezhnyy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render 'layouts/headers/header_user' %>
    <% elsif admin_signed_in? %>
      <%= render 'layouts/headers/header_admin' %>
    <% else %>
      <%= render 'layouts/headers/header' %>
    <% end %>
    <div class="container" style="margin-top: 50px;">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>