<h4 class="text-center"> Оновити свої особисті дані </h4>
<div class="container">
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Зареєстрований</h6>
            <span class="text-muted">
              <%= current_user.created_at.strftime("%d:%m:%Y") %>
            </span>

          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Кількість замовлень</h6>
            <span class="text-muted">
              <%= Order.where(user_id: current_user).count %>
            </span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Останнє оновлення</h6>
            <span class="text-muted">
              <%= current_user.updated_at.strftime("%d:%m:%Y") %>
            </span>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Відвідувань сайту</h6>
            <span class="text-muted">
              Кількість:<%= current_user.sign_in_count %>
            </span>
          </div>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <%= f.label 'Ім\'я' %>
              <%= f.text_field :first_name, class: "form-control" %>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <%= f.label 'Прізвище' %>
              <%= f.text_field :last_name, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label 'Електронна адреса' %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label 'Пароль' %> <i>(залиште поле порожнім, якщо ви його не змінили)</i>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> символів мінімум</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.label 'Підтвердження паролю' %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label 'Поточний пароль' %> <i>(нам потрібен ваш поточний пароль, щоб підтвердити зміни)</i>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <%= f.submit "Оновити параметри", class: "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>
</div>